<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% if @event.user.id == current_user.id %>
	<%= link_to 'Edit', edit_event_path(@event) %>
<% end -%>
| <%= link_to 'Back', events_path %>
